
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Session</title>
</head>
<body>
    <div> 
        <h3>Old Value: @Model.OldValue</h3>
        <h3>New Value: @Model.NewValue</h3>
    </div>
</body>
</html>
