<section>
    <div class="container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ProfilePhoto</th>
                    <th>Id</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>PhoneNo</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody *ngFor="let i of data">
                <tr (click)='GetDataById($event)'>
                    <td><img [src]='i.ProfilePhoto' alt="No Picture"></td>
                    <td >{{i.Id}}</td>
                    <td >{{i.FirstName}}</td>
                    <td >{{i.LastName}}</td>
                    <td>{{i.PhoneNo}}</td>
                    <td >{{i.Age}}</td>
                    <td>{{i.Gender}}</td>
                    <td>{{i.Role}}</td>
                    <td >{{i.Email}}</td>
                    <td >{{i.Password}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>