<section>
    <div ng-controller="addController">
        <h1>Student Details Form</h1>
        <br>
        <hr>
        <form action="index.html">
            <div>
                <label>Roll No: </label>
                <input type="number" ng-model="student.rollNo" placeholder="Roll No" />
                <br>
                <br>
            </div>

            <div>
                <label>Name: </label>
                <input type="text" ng-model="student.name" placeholder="Name" />
                <br>
                <br>
            </div>

            <div>
                <label>Age: </label>
                <input type="number" ng-model="student.age" placeholder="Age" />
                <br>
                <br>
            </div>

            <div>
                <label>Email: </label>
                <input type="text" ng-model="student.email" placeholder="Email" />
                <br>
                <br>
            </div>

            <div>
                <label>Date: </label>
                <input type="text" ng-model="student.date" placeholder="date" />
                <br>
                <br>
            </div>

            <div>
                <label>isMale: </label>
                <input type="boolean" ng-model="student.isMale" placeholder="true/false" />
                <br>
                <br>
            </div>
        </form>
        <button type="submit" ng-click="postData(student.rollNo,student.name,
            student.age,student.email,student.date,student.isMale)">Submit</button>
    </div>
</section>