<section>
    <div>
        <h1>Edit Form</h1>
        <br>
        <hr>
        <form>
            <div>
                <label>Roll No: </label>
                <input type="number" id="rollNo" value={{result.rollNo}} ng-model="result.rollNo" placeholder="Roll No" />
                <br>
                <br>
            </div>

            <div>
                <label>Name: </label>
                <input type="text"  ng-model="result.name" placeholder="Name" />
                <br>
                <br>
            </div>

            <div>
                <label>Age: </label>
                <input type="number"  ng-model="result.age" placeholder="Age" />
                <br>
                <br>
            </div>

            <div>
                <label>Email: </label>
                <input type="text"  ng-model="result.email" placeholder="Email" />
                <br>
                <br>
            </div>

            <div>
                <label>Date: </label>
                <input type="text"  ng-model="result.date" placeholder="date" />
                <br>
                <br>
            </div>

            <div>
                <label>isMale: </label>
                <input type="boolean"  ng-model="result.isMale" placeholder="true/false" />
                <br>
                <br>
            </div>
        </form>
        <button type="submit" ng-click="">Edit</button>
    </div>

</section>