<section>
    <div>
        <h1>Edit Form</h1>
        <hr>
        <br>
        <form>
            <div>
                <label>Roll No: </label>
                <input type="number" id="rollNo" ng-value="eData.rollNo" placeholder="Roll No" />
                <br>
                <br>
            </div>

            <div>
                <label>Name: </label>
                <input type="text" ng-model="eData.name" placeholder="Name" />
                <br>
                <br>
            </div>

            <div>
                <label>Age: </label>
                <input type="number" ng-model="eData.age" placeholder="Age" />
                <br>
                <br>
            </div>

            <div>
                <label>Email: </label>
                <input type="text" ng-model="eData.email" placeholder="Email" />
                <br>
                <br>
            </div>

            <div>
                <label>Date: </label>
                <input type="text" ng-model="eData.date" placeholder="date" />
                <br>
                <br>
            </div>

            <div>
                <label>isMale: </label>
                <input type="radio" value="eData.gender" ng-model="eData.gender" />Male
                <input type="radio" value="eData.gender" ng-model="eData.gender" />Female
                <br>
                <br>
            </div>
        </form>
        <button type="button" ng-click="edit(eData.rollNo,eData.name,eData.age,
        eData.email,eData.date,eData.gender)">Edit</button>
    </div>

</section>